.card {
    overflow-y: scroll !important;
    max-height: 750px;
}

.card-header {
    position: fixed;
    width: 20%;
}

.card-body {
    margin-top: 3rem;
}

@media (max-width: 650px) {
    .card-header {
        width: 91%;
        margin-top: -0.6rem;
    }   
}