{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>PhotoFolio Bootstrap Template - Services</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link href="{% static 'assets/css/chatroom.css' %}" rel="stylesheet" />
  </head>

  <body>
    <section style="background-color: #eee">
      <div class="container py-5">
        <div class="row d-flex justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card" id="chat1" style="border-radius: 15px">
              <div
                class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                style="
                  border-top-left-radius: 15px;
                  border-top-right-radius: 15px;
                "
              >
                <i class="fas fa-angle-left"></i>
                <p class="mb-0 fw-bold" id="chatname">{{ chatname }}</p>
                <i class="fas fa-times"></i>
              </div>
              <div class="card-body">
                <!--First python for loop-->
                <div id="parentdiv"></div>
                <!--End of block-->
                <div>
                  <form method="POST" id="form-submit">
                    {% csrf_token %}
                    <div class="form-outline">
                      <textarea
                        name="messages"
                        class="form-control"
                        id="messages"
                        rows="4"
                      ></textarea>
                      <label
                        id="username"
                        class="form-label"
                        for="textAreaExample"
                      >
                        {{ username }}
                      </label>
                      <label class="form-label" for="textAreaExample">
                        Type your message
                      </label>
                    </div>
                    <div class="d-flex justify-content-center">
                      <button
                        type="submit"
                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                      >
                        Send message
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).on('submit', '#form-submit', function(e){
        e.preventDefault();
        $.ajax({
          type: 'POST',
          url: "/chatapp/chatroom/{{ chatname }}/",
          data: {
            messages:$("#messages").val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
        });
        $("#messages").val('');
      })

      var userid = "{{ userid | escapejs }}";
      const getUser = document.getElementById("username").innerHTML;
      const parentdiv = document.getElementById("parentdiv");
      const chatname = document.getElementById("chatname").innerHTML;
      const all_users = {{ all_usernames|safe }};

      const otherMessageUi = `<div class="d-flex flex-row justify-content-start mb-4">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="avatar 1" style="width: 45px; height: 100%">
                    <div class="p-3 ms-3" style="
                        border-radius: 15px;
                        background-color: rgba(57, 192, 237, 0.2);
                      ">
                      <p class="small mb-0">
                        username | datetime
                      </p>
                      <strong><p class="small mb-0">message</p></strong>
                    </div>
                  </div>`;
      const userMessageUi = `<div class="d-flex flex-row justify-content-end mb-4">
          <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb">
            <p class="small mb-0"> username
             | datetime
            </p>
            <strong><p class="small mb-0">message</p></strong>
            </div>
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp" alt="avatar 1" style="width: 45px; height: 100%">
          </div>`;
      let sentMessages = [];
      function buttom(){
        var element = document.getElementById("chat1");
        element.scrollTop = element.scrollHeight;
      }
      setInterval(function(){
        window.scrollTo(0, document.body.scrollHeight);
        fetch('http://127.0.0.1:8000/chatapp/messages/')
        .then(response => response.json())
        .then(messagesData => {
          for (let a = 0; a < messagesData.length; a++) {
            if (!sentMessages.includes(messagesData[a].id)) {
              sentMessages.push(messagesData[a].id)
              if (messagesData[a].chatroom_id == {{ chatroom | escapejs }}) {
                if ({{ username.id | escapejs }} == messagesData[a].user_id) {
                  userMessage = userMessageUi.replace(
                    "username",
                    all_users[messagesData[a].user_id]
                  );
                  userMessage = userMessage.replace(
                    "datetime",
                    messagesData[a].created_at
                  );
                  userMessage = userMessage.replace(
                    "message",
                    messagesData[a].message
                  );
                  parentdiv.innerHTML += userMessage;
                  buttom();
                } else {
                  userMessage = otherMessageUi.replace(
                    "username",
                    all_users[messagesData[a].user_id]
                  );
                  userMessage = userMessage.replace(
                    "datetime",
                    messagesData[a].created_at
                  );
                  userMessage = userMessage.replace(
                    "message",
                    messagesData[a].message
                  );
                  parentdiv.innerHTML += userMessage;
                  buttom();
                }
              }
            }
          }
        })
      }, 500)
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
